*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;

}


.linea-c{
    width: 70%;
    border: 1px solid rgb(192, 219, 192);
    margin-top: 5%;
    margin-left: 15%;
}

.linea-2{
    width: 70%;
    border: 1px solid rgb(192, 219, 192);
    margin-left: 15%;
}

h1{
    margin-left: 30%;
    margin-top: 3%;
}

.color{ 
   color: rgb(192, 219, 192);
}


.menú{
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 5%;
    cursor: pointer;
}

.menú > ul{
    display: flex;
    float: left;
    width: 45%;
}

.menú > ul > li{
    float: left;
   list-style: none;
    position: relative;
    width: 100%;
    height: 70%;
    font-size: 20px;
    color: #ffffff;
    margin: 1% 1%;
    text-align: center;
    line-height: 40px;
}


.menú > ul > li > a{
    width: 100%;
    height: 70%;
    font-size: 20px;
    color: #ffffff;
    margin: 2% 1%;
    text-align: center;
    line-height: 40px;
    display: block;
   text-decoration: none;
}

.menú > ul > li:hover{
    color:  rgb(192, 219, 192);
}

.menú > ul > li > ul{
    display: none;
    position: absolute;
   
}

.menú > ul > li > ul > li:hover{
   color: ; rgb(192, 219, 192)
}

.menú > ul > li:hover > ul{
    display: block;
    margin: 2% 2%;
}
.menú > ul > li > ul > a{
    text-decoration: none;
}

a{
    text-decoration: none;
}

img{
    margin-left: 17%;
    margin-top: 6%;
    width: 30%;
    height: 75vh;
}
div{
    display: flex;
}
.contactame{
    font-size: 30px;
}
.nombre{
    font-size: 30px;
    margin-top: 4%;
}

.inf{
    margin-top: 4%;
    font-size: 20px;
}


section{
    margin-top: 6%;
    margin-left: 3%;
}

 input{
    margin-top: 4%;
    display: flex;
    width: 70vh;
    height: 7%;
    color: #ffffff;
    background: #56365e;
}

input::placeholder{
    color: white;
}


 textarea{
    margin-top: 4%;
    background: #56365e;
    width: 70vh;
    height: 30%;
}

.boton-e{
    margin-left: 86%;
}

footer{
    margin-left: 17%;
    display: flex;
    padding: 3%;
}
.twitter{
    margin-left: 50%;
    border: 1px solid #000000;
}

.facebook{
    margin-left: 1%;
    border: 1px solid #000000;
}


.fa{
    cursor: pointer;
    background: snow;
    color: slategray;
    padding: 3px;
}
a{
    color: rgb(192, 219, 192);

}
.boton-e:hover{
   border: 2px solid #7a0d75;
   background: #56365e;
}

a:hover{
    color:  rgb(192, 219, 192);
}
input:hover{
    border: 2px solid #ffffff;
}
 textarea:hover{
    border: 2px solid #ffffff;
}
li{
list-style: none;
}
